.*
!.bandit
!.coveragerc
!.gitignore
!.isort.cfg
!.pre-commit-config.yaml
!.pylintrc
!.pylintrc.local
!.python-version
!.remarkrc
!.travis.yml
*.py[cod]
*.ipynb*
*.egg*
coverage.*
build
dist
__pycache__
